.big-orange {
	background-color: #6495ED;
   width:180px;
   height:42px;
}
body {
  width: 80%;
  font: 100% Helvetica;
  font-weight: bold;
}
.orange-border {
	border-color: #FF7518;
	border-width: 4px;
}
.right-elt {
	float:right;
}

#submit {
        width:180px;
        height:42px;
  font: 100% Helvetica;
  font-weight: bold;
}

.edit-button {
    font: 100% Helvetica;
  font-weight: bold;
       width:180px;
   height:42px;
}

#assignments-table .title-row{
  background-color: #FF7518;
}

#assignments-table .odd-row{
  background-color: #ffc966;
}

#thesis {
  background-color: #FF7518;

}

#argument {
  background-color: #458B00;
}

#evidence {
  background-color: #66CCCC;
}