.big-orange {
	background-color: #6495ED;
   width:180px;
   height:42px;
}
body {
  width: 80%;
  font: 100% Helvetica;
  font-weight: bold;
  background-color: #ebeaed;
}
.orange-border {
	border-color: #FF7518;
	border-width: 4px;
}
.right-elt {
	float:right;
}

#submit {
        width:180px;
        height:42px;
  font: 100% Helvetica;
  font-weight: bold;
}

.edit-button {
    font: 100% Helvetica;
  font-weight: bold;
       width:180px;
   height:42px;
}
#assignments-table {
    margin: 0 auto;
    padding: 0;
	width:90%;
}
#assignments-table .title-row{
  font-weight: bold;
  background-color: #FF7518;
}

#assignments-table .odd-row{
  background-color: #ffc966;
}

#thesis {
  background-color: #FF7518;

}

#argument {
  background-color: #458B00;
}

#evidence {
  background-color: #66CCCC;
}

  .nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  .nav li {
      float: left;
      display: inline;
      padding-right: 35%;
  }

  .nav-wrapper {
    background-color: #ed611f;
    padding: 1px;
    border-bottom: 10px solid #60afe4;

  }

  .nav {
    margin: 0 auto;
    padding: 0;
  }

  .nav a:link, a:visited {
      display: block;
      width: 100%;
      font-weight: bold;
      color: #FFFFFF;
      background-color: #ed611f;
      text-align: center;
      padding: 20px;
      text-decoration: none;
      text-transform: uppercase;
  }

  .nav a:hover, a:active {
      background-color: #a64619;
  }
